.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 400px;
    min-width: 10%;
    max-width: 30%;
    background-color: #ababab;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    margin-top: 180px;
    margin-left: 50px;
    margin-right: 50px;
}

#pfp {
    min-width: 5%;
    max-width: 100%;
}

#header-name {
    font-size: 2vw;
}

@media only screen and (max-width: 1024px) {
    .header {
        width: 100%;
        margin-top: 120px;
        min-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    #header-name {
        font-size: 32px;
    }
}