.tweets {
    display:flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    background-color:#f4f1ec;
    font-family: sans-serif;
    border: 3px solid #545149;
    margin-top: 5px;
}

.tweets:hover {
    box-shadow: #4056A1;
}

.tweet-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.tweets-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

#name {
    display: flex;
    flex-direction: row;
}

#tweet {
    width: 90%;
    margin: 1.5em auto;
    padding-bottom: 5px;
    border-bottom: 3px solid #545149;
}

#postedDate {
    width: 90%;
    margin: 1.5em auto;
}

.fa-solid {
    color: #4056A1;
}

.fa-solid:hover {
    color: #FEE227;
}

